*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:black;
}
.mune{
    display: none;
}

img{  
    width: 100%;
    height: 80%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 20px;
}
 input{
    width:100% ;
    padding: 10px;
    border-radius: 8px;
    border-color:#000000;  
    margin-top: 10px;
    margin-bottom: 10px;  
}
.form-item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.prix{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
.prix input {
    width: 35%;
}

.vendue{
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: start;
}
.vendue input{
    width: 20px;
    height:20px;
    margin-bottom: 10px;
}
.vendue label{
    margin-left: 5px;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 60%;  
    font-size: 20px;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;

    
}
.mune{
    display: none;
}
#section{
    width:100%;
    padding: 10px;
    border-radius: 8px;
    border-color:#000000;  
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 2px solid black; 

}
@media screen and (min-width: 1144px){ 
    body{ 
    background-image: url('img/bak.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
    main{
        display: flex;
        /*flex-direction: row;
        justify-content: space-between;*/
        /*background-image: url(img/bak.jpg);*/
        
    }
    
    form{
       /* margin-top: 20%;*/
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 10px;
        height: auto;
        margin-top: 12px;
        border-radius: 10px;
        background-color:rgba(0,0,0,0.4);        
    }
    .logo{
        /*align-self: center;*/
        width: 60%;
        height: 20%;
    }
    img{  
        width: 148px;
        height: 50px;
        margin-left: 25px;

    }
    nav{ 
       width: 100%;
       display: flex; 
       height: 50px;
       margin-bottom: 15px; 
       background-color: #000000;   
    }
    .mune{
        display: block;
       width: 290px;
    }
    ol{
        /*width: 80%;*/
        display: flex;  
    }
    ol li {
        margin-top: 13px;
        margin-left: 35px;
        list-style: none;
    }
    a{
    color: white;
    text-decoration: none;
    font-size: 18px;

     }
    a:hover{
        text-decoration: underline;
        color: #e5c100;
     }
     .form-item{
        padding-top: 5px;
     }
     .input,.select{
         width: 70%;
         margin-left: 20px;
     }
     .prix{
        
         justify-content: start;
         width: 537px;
         margin-left: 144px;
     }
     input[type=submit]{
         background-color: #ecd34c;
     }
      #section{
        width:423px ;
        padding: 10px;
        border-radius: 8px;
        border-color:#000000;  
        margin-top: 10px;
        margin-bottom: 10px; 
        border: 2px solid black; 

    }
  
}